.App {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.App-header {
    height: 140px;
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.2);
}

.tabs {
    height: 40px;
    display: flex;
    flex-direction: row;
}

.active {
    color: rgb(240, 20, 20);
}

.content {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.col-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.banner-warp {
    height: 28px;
    background: rgba(7, 17, 27, 0.2);
    display: flex;
    flex-direction: row;
    padding: 0 12px;
    align-items: center;
}

.image-warp {
    height: 112px;
}

.inline-text {
    line-height: 28px;
    padding-left: 8px;
    color: #fff;
    font-size: 10px;
}

.bullet {
    width: 44px;
    height: 24px;
    background: url("./assets/img/bulletin@2x.png") center no-repeat;
}
